@use "../settings/variables" as *;
@use "../tools/mixins" as *;
@use "../tools/functions" as *;

.countdown-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: rem(40px);

  @include responsive(tablet) {
    margin-bottom: rem(48px);
  }

  @include responsive(desktop-md) {
    align-items: flex-start;
    margin-bottom: 0;
  }

  @include responsive(desktop) {
  }

  .countdown {
    display: flex;
    gap: rem(13px);

    @include responsive(tablet) {
      gap: 1rem;
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: $color-dark-blue;
      border-radius: 0.25rem;
      padding: rem(11px) rem(18px);
      width: rem(72px);

      &--light {
        background: $very-light-blue;
        opacity: 0.9;
        mix-blend-mode: normal;
      }

      @include responsive(tablet) {
        gap: 0.15625rem;
        padding: rem(16px) rem(18px);
        width: rem(100px);
      }
    }
  }
}

.countdown-box-signup {
  margin-bottom: rem(64px);

  @include responsive(tablet) {
    margin-bottom: rem(105px);
  }

  @include responsive(desktop-md) {
    margin-bottom: 0;
  }
}
