@use "../settings/variables" as *;
@use "../tools/mixins" as *;
@use "../tools/functions" as *;

.header {
  display: flex;
  justify-content: center;
  padding-top: rem(50px);
  margin-bottom: rem(80px);

  @include responsive(tablet) {
    justify-content: flex-start;
    padding-top: rem(72px);
    padding-left: rem(40px);
    margin-bottom: rem(104px);
  }

  @include responsive(desktop-md) {
    padding-left: rem(165px);
  }

  @include responsive(desktop) {
    padding-top: rem(81px);
    margin-bottom: rem(102px);
  }
}

.header-signup {
  margin-bottom: 0;

  @include responsive(desktop) {
    padding-left: rem(165px);
  }
}
