@use "../settings/variables" as *;
@use "../tools/mixins" as *;
@use "../tools/functions" as *;

.heading {
  font-size: $fs-sm-h1;
  font-weight: $fw-bold;
  line-height: $lh-sm-h1;
  color: $color-dark-blue;
  margin-bottom: 1.5rem;

  @include responsive(desktop) {
    font-size: $fs-lg-h1;
    line-height: $lh-lg-h1;
    text-wrap: wrap;
  }
}

.paragraph {
  font-size: $fs-md-p;
  font-weight: $fw-medium;
  line-height: $lh-md-p;
  color: $color-grey;
  margin-bottom: 1.5rem;

  @include responsive(desktop) {
    font-size: $fs-lg-p;
    line-height: $lh-lg-p;
    margin-bottom: 2rem;
  }
}

.card__heading {
  font-size: $fs-lg-h1;
  font-weight: $fw-bold;
  line-height: $lh-sm-h1;
  color: $color-dark-blue;
  margin-bottom: rem(8px);

  @include responsive(tablet) {
    margin-bottom: rem(4px);
  }

  @include responsive(desktop-md) {
    margin-bottom: rem(8px);
  }

  @include responsive(desktop) {
  }
}

.card__paragraph {
  margin-bottom: 1rem;
  text-wrap: wrap;

  @include responsive(tablet) {
    text-wrap: nowrap;
  }

  &--dark {
    color: $color-dark-blue;
    margin-bottom: 0;

    @include responsive(tablet) {
      margin-bottom: 1.5rem;
    }

    @include responsive(desktop-md) {
      margin-bottom: 0;
    }

    @include responsive(desktop) {
    }
  }

  &--plan {
    font-size: $fs-md;
    font-weight: $fw-bold;
    line-height: $lh-md;
    color: $color-dark-blue;
    margin-bottom: rem(40px);

    @include responsive(tablet) {
      margin-bottom: 1rem;
    }

    @include responsive(desktop-md) {
      margin-bottom: rem(40px);
    }

    @include responsive(desktop) {
    }
  }
}

.text-white {
  color: $color-white;
  mix-blend-mode: normal;
}

.countdown-heading {
  text-transform: uppercase;
  color: $color-white;
  font-size: $fs-md-p;
  font-weight: $fw-bold;
  line-height: $lh-lg;
  letter-spacing: $ls-sm;
  margin-bottom: rem(18px);

  @include responsive(tablet) {
    margin-bottom: rem(8px);
  }

  @include responsive(desktop) {
    margin-bottom: 0;
  }

  &__span {
    color: $color-blue;
  }
}

.cd-heading-signup {
  color: $color-dark-blue;
}

.countdown-numbers {
  color: $color-white;
  font-size: $fs-md-time;
  line-height: $lh-count-sm;
  font-weight: $fw-bold;

  @include responsive(tablet) {
    font-size: $fs-lg-h1;
    line-height: 86%;
  }
}

.numbers--blue {
  color: $color-blue;
}

.countdown-units {
  color: $color-white;
  font-size: $fs-sm;
  line-height: $lh-sm;
  font-weight: $fw-bold;
  mix-blend-mode: normal;
  opacity: 0.5;

  @include responsive(tablet) {
    font-size: $fs-md-p;
    line-height: 175%;
  }
}

.units--dark {
  color: $color-dark-blue;
}
