@use "../settings/variables" as *;
@use "../tools/mixins" as *;
@use "../tools/functions" as *;

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: rem(100px);
  padding: 0 1.5rem;

  &__text-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include responsive(tablet) {
      align-items: flex-start;
    }

    @include responsive(desktop-md) {
      padding-top: rem(72px);
    }

    @include responsive(desktop) {
    }
  }

  @include responsive(tablet) {
    flex-direction: row-reverse;
    align-items: flex-start;
    text-align: left;
    max-width: rem(1110px);
    margin: 0 auto rem(140px);
    gap: rem(63px);
    // padding: 0 rem(40px);
    padding: 0;

    &__img-box {
      width: 37%;
      // max-width: rem(281px);
    }

    &__text-box {
      width: 45%;
      // max-width: rem(345px);
    }
  }

  @include responsive(desktop) {
    margin-bottom: rem(167px);
    gap: rem(95px);
    justify-content: space-evenly;

    &__img-box {
      // width: 33%;
      max-width: rem(475px);
    }

    &__text-box {
      // width: 37.5%;
      max-width: rem(540px);
    }
  }
}
